body {
    background-color: aliceblue;
}

h1 {
    color: aliceblue;
    font-family: Arial;
    text-align: center;
    background-color: #800000;
    padding: 10px;
    margin: 0;
}

.intro{
    text-align: justify;
    /*background-color: #800000;*/

}

.github{
    line-height: 2;
}

.ClickMe {
    text-align: center;
    margin-top: 20px;
}


